.products {
    margin: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
}

.product_container {
    margin: 10px;
}

.product {
    flex: 1 1 22%;
    width: 250px;
    background-color: none;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    margin-bottom: 15px;
    position: relative;
}

.warning{
    padding: 15px;
    background-color: var(--secondary-color);
    color: white;
    width: fit-content;
    transition: 0.4s;
    position: absolute;
    top: 0;
    left: 0;
    animation: fade-slide-in-from-top 0.3s ease-in-out;
    transition:0.4s ;

}

@keyframes fade-slide-in-from-top {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.center {
    display: flex;
    justify-content: center;
}

.image {
    width: 280px;
    background-color: rgb(228, 228, 228);
    background-color: var(--main-color);
    border-radius: 30% 70% 87% 13% / 44% 13% 87% 56%;
    /* border-radius: 27% 73% 83% 17% / 31% 74% 26% 69% ; */
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product:hover .image {
    border-radius: 69% 31% 92% 8% / 30% 59% 41% 70%;
}

.product_img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.description {
    letter-spacing: 1px;
    text-align: center;
}

.price {
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1px;
}

.title {
    text-align: center;
    margin: 10px 0;
    letter-spacing: 1px;
}

.add_to_cart {
    opacity: 0;
    display: flex;
    margin-top: 8px;
    transition: 0.4s;
}


.product:hover .add_to_cart {
    opacity: 1;
}

.size_dropUP {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;
}

.size_dropUP,
.add {
    width: 50%;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}

.add {
    background-color: var(--secondary-color);
    color: var(--main-color);
    display: flex;
    align-items: center;
    transition: background-color 0.4s;
}

.red{
    background-color: rgb(176, 0, 0);
    transition: background-color 0.4s;
}
.size_dropUP {
    position: relative;
    display: inline-block;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

.size_text {
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.dropUP {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--main-color);
  padding: 0;
  transition: max-height 0.9s ease, padding 0.4s ease;
}

.dropUP.open {
  border: 1px solid var(--secondary-color);
  max-height: 200px;
  padding: 5px 0;
}

.dropUP p {
    padding: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.dropUP p:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
}

/* .size_dropUP:hover .size_text {
    opacity: 0;
    visibility: hidden;
} */

/* .size_dropUP:hover .dropUP {
    border: 1px solid var(--secondary-color);
    max-height: 200px;
} */

.specific_category {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    height: 40px;
}

.specific_category p {
    margin: 0 10px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.specific_category p:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}